/*--------------
      Card
---------------*/
.cards .card {
  width: 18%;
  font-size: 12px;
  cursor: pointer;
}

.cards .card:hover{
  width: 18%;
  font-size: 12px;
  cursor: pointer;
  background: rgb(254,254,254);
}

.ui.cards { 
  display: flex;
  flex-wrap: wrap;
  margin: -0.875em -0.5em;
  margin-left: 80px;
  margin-bottom: -60px; 
  width: 80%; 
}


.card .content .header {
	text-align: center;
	font-size: 14px;
}