<p *ngIf="error" class="errorMessage">{{error}}</p>
<div>
	<p>Put stuff here. By stuff i mean instrument request displaying things preferably. Although ducklings are cute too, if you wanted to add them also.</p>
</div>