<!DOCTYPE html>
<html>
<head>
  <% include ../shared/header.ejs %>
  <link rel="stylesheet" type="text/css" href="/aboutUsInformation/css/main.css" />
</head>

<body>

  	<% include ../shared/nav.ejs %>
	<div class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="about_content" align="center">  
                    <h1 class="heading">About Us</h1>
                    <div class="border"></div>
                    <p class="paragraph">		We here at The School of Music cater to people of all skill levels and ages. Whether you’re a beginner or an experienced musician we would love to have you here at The School of Music.
			
			
				For your first month at The School of Music one-on-one lessons will be held weekly for the duration of an hour. Once you and your music teacher are comfortable together we can offer you up to 3 lessons a week (dependent on teacher availability).
			
			<h3>Instruments & Lesson Fees:</h3>
			
				We can also cater to those wishing to play ethnic instruments, please make an inquiry with the music school for more information.
			
			
			<h3>Teachers:</h3>
		
			  Our teachers are here to lead you on your path to musical mastery, this is why we allow you to choose whichever teacher you believe is best suited to you. Pinelands allow you to express interest in teachers based on their ethnicity, language skills and experience so you can feel comfortable knowing you’re being taught by someone who best understands you.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Team-->
<div class="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="" align="center">
                    <p class="btn btn-lg btn-success">Our Specialised Teachers</p>
                    <div class="team_members">
                        <ul>
                            <li>
                                <p class="name">MAX</p>
                                <p class="designation">CEO</p>
                                <img src="../shared/img/team.jpg" class="img-responsive" alt="team">
                            </li>
                            <li>
                                <p class="name">MAX</p>
                                <p class="designation">CEO</p>
                                <img src="../shared/img/team.jpg" class="img-responsive" alt="team">
                            </li>
                            <li>
                                <p class="name">MAX</p>
                                <p class="designation">CEO</p>
                                <img src="../shared/img/team.jpg" class="img-responsive" alt="team">
                            </li>
                            <li>
                                <p class="name">MAX</p>
                                <p class="designation">CEO</p>
                                <img src="../shared/img/team.jpg" class="img-responsive" alt="team">
                            </li>
                            <li>
                                <p class="name">MAX</p>
                                <p class="designation">CEO</p>
                                <img src="../shared/img/team.jpg" class="img-responsive" alt="team">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">    
    <section class="contact">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <h1 class="heading">Contact Us</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="address">
                    <p><span>Address:</span></p>
                    <p><b>456 Ann Street</b></p>
                    <p><b>Brisbane City, Queensland</b></p>
                    
                    <div class="sub_detail">
                        <p><span class="glyphicon glyphicon glyphicon-earphone" aria-hidden="true"></span> Phone <span class="detail">+61 555 555 555</span></p>
                        <p><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> Fax <span class="fax">+61 555 555 555</span></p>
                        <p><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> E-mail <span class="detail">info@data55.com</span></p>
                        <p><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span> Skype <span class="detail">data55</span></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <img src="../shared/img/map.jpg" class="img-responsive map" alt="map">
            </div>
        </div>
    </section>
</div>
</div>
   
</body>
</html>