
.errorMessage {
    color: rgb(200,0,0);
}

/*--------------
      Cards
---------------*/
.header{
    font-style: bold; 
}

.ui.cards > .card,
.ui.card {
  max-width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 290px;
  min-height: 0px;
  background: #FFFFFF;
  padding: 0em;
  border: none;
  border-radius: 0.28571429rem;
  box-shadow: 0px 1px 3px 0px #D4D4D5, 0px 0px 0px 1px #D4D4D5;
  
}

.ui.cards { 
  display: flex;
  flex-wrap: wrap;
  margin: -0.875em -0.5em;
  margin-left: 90px;
  margin-top: 30px;
  padding-bottom: 50px;
 
}
.ui.cards > .card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0.875em 0.5em;
  float: none;
}

.card > :first-child,
.card > :first-child {
  border-radius: 0.28571429rem 0.28571429rem 0em 0em !important;
  border-top: none !important;
}

.card > :last-child {
    
  border-radius: 0em 0em 0.28571429rem 0.28571429rem !important;
}


.cards > .card > .content,
.card > .content {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border: none;
  border-top: 1px solid rgba(34, 36, 38, 0.1);
  background: none;
  margin: 0em;
  padding: 1em 1em;
  box-shadow: none;
  font-size: 1em;
  border-radius: 0em;
}


.card [class*="right floated"],
.card [class*="right floated"] {
  border-radius:50% 50% 50% 50%;  
  width:50px;
  height:50px;    
  float: right;
}
.image{
    border-radius:50% 50% 50% 50%;  
  width:50px;
  height:50px;    
  float: right;
}

.card > .content > .description,
.card > .content > .description {
  clear: both;
  color: rgba(0, 0, 0, 0.68);
}


.button22{
  margin-left: 15px;
  margin-top: -5px;
  margin-right: 5px;
  float: left;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 25px;
  padding-left: 25px;
  line-height: 1em;
  font-size: 17px;
  font-style: normal;
  text-align: center;
  font-weight: normal;
  border-color: white;
  box-shadow: 0px 0px 0px 01px #21BA45 inset !important;
  color: #21BA45 !important;
  border-bottom-left-radius: 0.28571429rem;
  border-top-left-radius: 0.28571429rem;
  background: white;
  
}

.button21{
  margin-top: -5px;
  border: none;
  float: left;
  margin-left: -2px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 25px;
  padding-left: 25px;
  line-height: 1em;
  font-size: 17px;
  font-style: normal;
  text-align: center;
  font-weight: normal;
  border-color: white;
  box-shadow: 0px 0px 0px 1px #DB2828 inset !important;
  color: #DB2828 !important;
  border-bottom-right-radius: 0.28571429rem;
  border-top-right-radius: 0.28571429rem;
  background: white;
  
}


.ui.two.buttons{
    margin-left: 25px;
    display:inline;
}

.card {
  font-size: 1em;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.clickable:hover {
  cursor: pointer;
  background: rgb(200,200,200) !important;
}

.back {
  width: 150px;
  background: rgb(250,250,250);
  text-align: center;
  border: solid black 1px;
}

