<div *ngIf="PageIsAvailable()">
  <p *ngIf="error" class="errorMessage">{{error}}</p>
  
  <div class="searchContainer">
    <input name="search" type="text" id="search" [(ngModel)]="filterText" (keyup)="Filter()" placeholder="Search for names.." title="Type in a name">
  </div>
    
  <table> 
    <thead>
      <th>Student Name</th>
      <th>Instrument Model</th>
      <th>Instrument Type</th>
      <th>Due Date</th>
    </thead>
    <tbody>
      <tr *ngFor="let instrument of filteredInstruments" (click)="SelectInstrument(instrument.hireid)">
        <td class="left aligned">{{instrument.firstname}} {{instrument.lastname}}</td>
        <td>{{instrument.instrumentname}}</td>
        <td>{{instrument.instrumenttype}}</td>
        <td>{{instrument.duedate}}</td>
      </tr>
    </tbody>
  </table>

</div>

<p *ngIf="!PageIsAvailable()">You do not have access to this page.</p>