<div *ngIf="PageIsAvailable()">

	<div class="card">
		<div class="content">
			<div class="header">
				<legend><span>Student Name: {{instrument.firstname}} {{instrument.lastname}}</span></legend>
			</div>
			<div class="meta">
				<p>Student Phone: {{instrument.phone}}</p>
				<p>Student Email: {{instrument.email}}</p>
				<p>Instrument Model: {{instrument.instrumentname}}</p>
				<p>Instrument Type: {{instrument.instrumenttype}}</p>
				<p>Due Date: {{instrument.duedate}}</p>
				<p>Hire Date: {{instrument.hiredate}}</p>
				<p>Serial Number: {{instrument.serialnumber}}</p>
				<p>Condition: {{instrument.condition}}</p>
				<p>Purchase Date: {{instrument.purchasedate}}</p>
				<p>Purchase Price: ${{instrument.purchaseprice}}</p>
				<p>Hire Fee: ${{instrument.hirefee}}</p>
				<p>Notes: {{instrument.notes}}</p>
			</div>
			<div class="extra content">
	    		<div class="ui two buttons">
					<button class="button22 clickable" (click)="GoBack()">Go Back</button>
					<button class="button21 clickable" (click)="ReturnInstrument(instrument.hireid)">Mark as Returned</button>
				</div>
	    	</div>
	    	<p *ngIf="error" class="errorMessage">{{error}}</p>
		</div>
	</div>
</div>
<p *ngIf="!PageIsAvailable()">{{error}}</p>