<div *ngIf="PageIsAvailable()">

	<div class="card">
		<div class="content">
			<div class="header">
				<legend><span>Student Name: {{instrument.firstname}} {{instrument.lastname}}</span></legend>
			</div>
			<div class="meta">
				<div class="left">Student Phone:</div> <div class="right">{{instrument.phone}}</div><br><br>
				<div class="left">Student Email:</div> <div class="right">{{instrument.email}}</div><br><br>
				<div class="left">Instrument Model:</div> <div class="right">{{instrument.instrumentname}}</div><br><br>
				<div class="left">Instrument Type:</div> <div class="right">{{instrument.instrumenttype}}</div><br><br>
				<div class="left">Due Date:</div> <div class="right">{{instrument.duedate}}</div><br><br>
				<div class="left">Hire Date:</div> <div class="right">{{instrument.hiredate}}</div><br><br>
				<div class="left">Serial Number:</div> <div class="right">{{instrument.serialnumber}}</div><br><br>
				<div class="left">Condition:</div> <div class="right">{{instrument.condition}}</div><br><br>
				<div class="left">Purchase Date:</div> <div class="right">{{instrument.purchasedate}}</div><br><br>
				<div class="left">Purchase Price:</div> <div class="right">${{instrument.purchaseprice}}</div><br><br>
				<div class="left">Hire Fee:</div> <div class="right">${{instrument.hirefee}}</div><br><br>
				<div class="left">Notes:</div> <div class="right">{{instrument.notes}}</div><br><br>
			</div>
			<div class="extra content">
	    		<div class="ui two buttons">
					<button class="button22 clickable" (click)="GoBack()">Go Back</button>
					<button class="button21 clickable" (click)="ReturnInstrument(instrument.hireid)">Mark as Returned</button>
				</div>
	    	</div>
	    	<p *ngIf="error" class="errorMessage">{{error}}</p>
		</div>
	</div>

</div>

<p *ngIf="!PageIsAvailable()">{{error}}</p>