<p *ngIf="error" class="errorMessage">{{error}}</p>
<div>
	<p>Put stuff here. By stuff i mean instrument displaying things preferably. Although kittens are cute too, if you wanted to add them also.</p>
</div>