/* Registration teacher stylesheet*/

.row {
    margin-left: 20px;
}

fieldset {
    margin-bottom: 30px;
    font-family: Avenir;
}

fieldset div {
    display: block;
}

fieldset label {
    display: block;
}

input {
    width: 15em;
    border: 2px solid;
    border-radius: 25px;
    outline: none;
    resize: none;
}

input:focus, textarea:focus {
    box-shadow: inset 0 0 3px 2px rgb(0,0,144);
    background: white;
    resize: none;
}

input:required {
    box-shadow:none;
}

.ng-valid {
    border-left: 3px solid rgb(70,200,70);
}

.ng-invalid {
    border-left: 3px solid rgb(225,0,0);
}

textarea {
    width: 400px;
    margin-top: 15px;
    font-family: Avenir;
    font-size: 15px;
}

button {
   margin-top: 40px;
   margin-bottom: 40px;
   margin-left: 290px;
   color: #FFF;
   background-color: #900;
   font-weight: bold;
   
}
button:hover {
  color: #FFF;
  background: rgb(0,0,144);

}

button[disabled] {
    opacity: 0.5;
}

.errorMessage {
    color: rgb(200,0,0);
}