<p *ngIf="error" class="errorMessage">{{error}}</p>

  <li class="ui cards">
      <div class="card">
        <div class="content">
          <img class="right floated mini ui image" src="/images/3.jpg">

          <div class="header">
              <b>Noah Fox</b>
          </div>
          <div class="meta">
            Student ID: S988484
              <br>
            Age: 20
              <br>
              skills: Aural skill
          </div>
          <div class="description">
            Requested permission to join your calss.
          </div>
        </div>
        <div class="extra content">
          <div class="ui two buttons">
            
            <form action="">   
             <button class="button22">Approve</button>
             <button class="button21">Decline</button>
            </form>
              
          </div>
        </div>
      </div>
        
        
        <div class="card">
        <div class="content">
          <img class="right floated mini ui image" src="/images/1.jpg">

          <div class="header">
              <b>Ethan Bailey</b>
          </div>
          <div class="meta">
            Student ID: S993832
              <br>
            Age: 18
              <br>
              skills: Aural skill
          </div>
          <div class="description">
            Requested permission to join your calss.
          </div>
        </div>
        <div class="extra content">
          <div class="ui two buttons">
            
            <form action="">   
             <button class="button22">Approve</button>
             <button class="button21">Decline</button>
            </form>
              
          </div>
        </div>
      </div>
        
        
        <div class="card">
        <div class="content">
          <img class="right floated mini ui image" src="/images/5.jpg">

          <div class="header">
              <b>Ava Brown</b>
          </div>
          <div class="meta">
            Student ID: S933387
              <br>
            Age: 22
              <br>
              skills: Aural skill
          </div>
          <div class="description">
            Requested permission to join your calss.
          </div>
        </div>
        <div class="extra content">
          <div class="ui two buttons">
            
            <form action="">   
             <button class="button22">Approve</button>
             <button class="button21">Decline</button>
            </form>
              
          </div>
        </div>
      </div>
        
        
      <div class="card">
        <div class="content">
          <img class="right floated mini ui image" src="/images/9.jpg">
          <div class="header">
            <b>Isabella Wilson</b>
          </div>
          <div class="meta">
             Student ID: S923453
              <br>
              Age: 19
              <br>
              skills: Aural skill
          </div>
          <div class="description">
             Requested permission to join your calss.
          </div>
        </div>
        <div class="extra content">
          <div class="ui two buttons">
              
              <form action="">
             <button class="button22">Approve</button>
             <button class="button21">Decline</button>
              </form>
              
          </div>
        </div>
      </div>
        
        
        <div class="card">
        <div class="content">
          <img class="right floated mini ui image" src="/images/2.jpg">
          <div class="header">
            <b>Jacob Black</b>
          </div>
          <div class="meta">
             Student ID: S966574
              <br>
              Age: 25
              <br>
              skills: Aural skill
          </div>
          <div class="description">
             Requested permission to join your calss.
          </div>
        </div>
        <div class="extra content">
          <div class="ui two buttons">
              
              <form action="">
             <button class="button22">Approve</button>
             <button class="button21">Decline</button>
              </form>
              
          </div>
        </div>
      </div>
        
        
        <div class="card">
        <div class="content">
          <img class="right floated mini ui image" src="/images/12.jpg">
          <div class="header">
            <b>Emily Baker</b>
          </div>
          <div class="meta">
             Student ID: S977655
              <br>
              Age: 20
              <br>
              skills: Aural skill
          </div>
          <div class="description">
             Requested permission to join your calss.
          </div>
        </div>
        <div class="extra content">
          <div class="ui two buttons">
              
              <form action="">
             <button class="button22">Approve</button>
             <button class="button21">Decline</button>
              </form>
              
          </div>
        </div>
      </div>
        
        
        <div class="card">
        <div class="content">
          <img class="right floated mini ui image" src="/images/6.jpg">
          <div class="header">
            <b>Mason Thomas</b>
          </div>
          <div class="meta">
             Student ID: S988743
              <br>
              Age: 25
              <br>
              skills: Aural skill
          </div>
          <div class="description">
             Requested permission to join your calss.
          </div>
        </div>
        <div class="extra content">
          <div class="ui two buttons">
              
              <form action="">
             <button class="button22">Approve</button>
             <button class="button21">Decline</button>
              </form>
              
          </div>
        </div>
      </div>
        
        
        <div class="card">
        <div class="content">
          <img class="right floated mini ui image" src="/images/4.jpg">
          <div class="header">
            <b>Daniel Lewis</b>
          </div>
          <div class="meta">
             Student ID: S993221
              <br>
              Age: 24
              <br>
              skills: Aural skill
          </div>
          <div class="description">
             Requested permission to join your calss.
          </div>
        </div>
        <div class="extra content">
          <div class="ui two buttons">
              
              <form action="">
             <button class="button22">Approve</button>
             <button class="button21">Decline</button>
              </form>
              
          </div>
        </div>
      </div>
        
        
        <div class="card">
        <div class="content">
          <img class="right floated mini ui image" src="/images/8.jpg">
          <div class="header">
            <b>James Poole</b>
          </div>
          <div class="meta">
             Student ID: S911359
              <br>
              Age: 19
              <br>
              skills: Aural skill
          </div>
          <div class="description">
             Requested permission to join your calss.
          </div>
        </div>
        <div class="extra content">
          <div class="ui two buttons">
              
              <form action="">
             <button class="button22">Approve</button>
             <button class="button21">Decline</button>
              </form>
              
          </div>
        </div>
      </div> 
    </li>