<p *ngIf="error" class="errorMessage">{{error}}</p>

<div *ngIf="PageIsAvailable()">
  <div class="card" *ngIf="student">
    <div class="content">
      <div class="header">
          <p>{{student.firstname}} {{student.lastname}}</p>
      </div>
      <div class="meta">
        <p>Age: {{student.dob}}</p>
        <p>Instrument: {{student.instrument}}</p>
        <p>Grade: {{student.grade}}</p>
        <p>Start Time: {{student.starttime}}</p>
        <p>End Time: {{student.endtime}}</p>
        <p>Term: {{student.term}}</p>
        <p>Year: {{student.year}}</p>
        <p>Fee: ${{student.fee}}</p>
        <p>Notes: {{student.notes}}</p>
      </div>
    </div>
    <div class="extra content">
      <div class="ui two buttons"> 
         <button class="button22 clickable" (click)="AcceptStudent(student.requestid)">Approve</button>
         <button class="button21 clickable" (click)="RejectStudent(student.requestid)">Decline</button>
         <div class="button22 clickable" (click)="GoBack()">Back Button</div>
      </div>
    </div>
  </div>
</div>

<p *ngIf="!PageIsAvailable()">You do not have access to this page.</p>