<p *ngIf="error" class="errorMessage">{{error}}</p>
<div>
	<p>Put stuff here. By stuff i mean student displaying things preferably. Although puppies are cute too, if you wanted to add them also.</p>
</div>