<div>
	<p>I am a student. Accept me.</p>
</div>

<li class="ui cards">
      <div class="card">
        <div class="content">
          <img class="right floated mini ui image" src="/acceptStudents/img/3.jpg">

          <div class="header">
              <b>Noah Fox</b>
          </div>
          <div class="meta">
            Student ID: S988484
              <br>
            Age: 20
              <br>
              skills: Aural skill
          </div>
          <div class="description">
            Requested permission to join your calss.
          </div>
        </div>
        <div class="extra content">
          <div class="ui two buttons">
            
            <form action="">   
             <button class="button22">Approve</button>
             <button class="button21">Decline</button>
            </form>
              
          </div>
        </div>
      </div>
    </li>