<!DOCTYPE html>
<html>
<head>
  <% include ../shared/header.ejs %>
  <!-- 2. Load our 'modules' -->
  <script src='app.component.js'></script>
  <script src='app.module.js'></script>
  <script src='main.js'></script>
</head>

<body>

  <% include ../shared/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <h1>Music School</h1>
    <p>This is the owner page!</p>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    This is a project for QUT's IFB299 unit, created by the "Data55" Group.
    <form action="/owner" method="post">
    <input type="submit"/>
    </form>

    <my-app>Loading...</my-app>
  </div>
</div>
</body>
</html>
