<!DOCTYPE html>
<html>
<head>
  <% include ../../partials/header.ejs %>
</head>

<body>

  <% include ../../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <h1>Music School</h1>
    <p>This page has been posted to!</p>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    This is a project for QUT's IFB299 unit, created by the "Data55" Group.
  </div>
</div>
</body>
</html>
