<div class="mainHeader">
	{{title}}
</div>

<div class="mainBody" *ngIf="FormIsAvailable()">
	<p *ngIf="error" class="errorMessage">{{error}}</p>
	<my-portal-personal></my-portal-personal>
</div>

<div class="mainBody" *ngIf="!FormIsAvailable()">
	<p>You must be logged in to view this page.</p>
</div>