<p *ngIf="error" class="errorMessage">{{error}}</p>
<div>
	<p>Put stuff here. By stuff i mean teacher displaying things preferably. Although baby seals are cute too, if you wanted to add them also.</p>
</div>