<div *ngIf="FormIsAvailable()">

	<div class="card">
		<div class="content">
			<div class="header">
				<legend><span>Name: {{teacher.firstname}} {{teacher.lastname}}</span></legend>
			</div>
			<div class="meta">
				<div class="left">DOB:</div> <div class="right">{{teacher.dob}}</div><br><br>
				<div class="left">Address:</div> <div class="right">{{teacher.address}}</div><br><br>
				<div class="left">Phone:</div> <div class="right">{{teacher.phone}}</div><br><br>
				<div class="left">Email:</div> <div class="right">{{teacher.email}}</div><br><br>
				<div class="left">Date Employed:</div> <div class="right">{{teacher.dateemployed}}</div><br><br>
				<div class="left">Description:</div> <div class="right">{{teacher.description}}</div><br><br>
			</div>
		</div>
		<div class="extra content">
    		<div class="ui two buttons">
			    <button class="button22 clickable" (click)="GoBack()">Go Back</button>
				<button class="button21 clickable" (click)="DeactivateTeacher(teacher.id)">Deactivate</button>
			</div>
    	</div>
	</div>


</div>

<p *ngIf="!FormIsAvailable()">You do not have access to this page.</p>