<div>
	<p>Name: {{teacher.firstname}} {{teacher.lastname}}</p>
	<p>DOB: {{teacher.dob}}</p>
	<p>Address: {{teacher.address}}</p>
	<p>Phone: {{teacher.phone}}</p>
	<p>Email: {{teacher.email}}</p>
	<p>Date Employed: {{teacher.dateemployed}}</p>
	<p>Description: {{teacher.description}}</p>
</div>

<div (click)="DeactivateTeacher(teacher.id)">Deactivate</div>
<div (click)="GoBack()">Go Back</div>