<p *ngIf="error" class="errorMessage">{{error}}</p>

   <div class="flexsearch">
		<div class="flexsearch--wrapper">
			<form class="flexsearch--form" action="#" method="post">
				<div class="flexsearch--input-wrapper">
				 <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">
				</div>
			</form>
		</div>
      </div>
      
          
    <table class="zui-table">
    
      <thead>
        <tr>
            <th scope="col" colspan="2">Teacher Name</th>
            <th scope="col">Teacher ID</th>
            <th scope="col">Unit Code</th>
            <th scope="col">DOB</th>
            <th scope="col">Deactivation</th>
       </tr>
      </thead>
        
        <tr class="background1">
          <td scope="col" colspan="2">Lucas Torres</td>
          <td>T987654</td>
          <td>KMB119</td>
          <td>12/2/1992</td>
          <td><input type="submit" value="Deactivat" class="red ui button"></td>
        </tr>
        <tr class="background2">
          <td scope="col" colspan="2">Emma Cooper</td>
          <td>T998376</td>
          <td>KMB215</td>
          <td>19/12/1991</td>
          <td><input type="submit" value="Deactivat" class="red ui button"></td>
        </tr>
        <tr class="background1">
          <td scope="col" colspan="2">Oliver Bell</td>
          <td>T987657</td>
          <td>KMB215</td>
          <td>14/9/1988</td>
          <td><input type="submit" value="Deactivat" class="red ui button"></td>
        </tr>
        <tr class="background2">
          <td scope="col" colspan="2">Lily Hughes</td>
          <td>T987464</td>
          <td>KMB250</td>
          <td>4/6/1985</td>
          <td><input type="submit" value="Deactivat" class="red ui button"></td>
        </tr>
        <tr class="background1">
          <td scope="col" colspan="2">Jack Morgan</td>
          <td>T987445</td>
          <td>KMB136</td>
          <td>12/2/1990</td>
          <td><input type="submit" value="Deactivat" class="red ui button"></td>
        </tr>
          <tr class="background2">
          <td scope="col" colspan="2">Mathew Myers</td>
          <td>T977654</td>
          <td>KMB136</td>
          <td>12/2/1989</td>
          <td><input type="submit" value="Deactivat" class="red ui button"></td>
        </tr>
          <tr class="background1">
          <td scope="col" colspan="2">Wyatt Perry</td>
          <td>T988776</td>
          <td>KMB237</td>
          <td>12/2/1992</td>
          <td><input type="submit" value="Deactivat" class="red ui button"></td>
        </tr>
          <tr class="background2">
          <td scope="col" colspan="2">Ryan Kim</td>
          <td>T976522</td>
          <td>KMB237</td>
          <td>16/7/1987</td>
          <td><input type="submit" value="Deactivat" class="red ui button"></td>
        </tr>
          <tr class="background1">
          <td scope="col" colspan="2">Davied Ford</td>
          <td>T966553</td>
          <td>KMB237</td>
          <td>1/10/1994</td>
          <td><input type="submit" value="Deactivat" class="red ui button"></td>
        </tr>
          
    </table>
  