 <nav class="navbar navbar-default">
  <div id="firstHeader" class="container-fluid">
    <div class="navbar-header">
      <a href="/"><img src="/shared/img/logo.png" alt="SCHOOL OF MUSIC"/></a>
    </div>
      <logged-in-app class="nav navbar-nav navbar-right"></logged-in-app>
  </div>
  <div id="secondHeader" class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a href="/">
        <i class="fa fa-home"></i> Home
      </a></li>
      <li><a href="/">
        <i class="fa fa-bars"></i> About
      </a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          <i class="fa fa-user"></i> Students<span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="/information/">
            Lesson Information
          </a></li>
          <li><a href="/login/student/">
            Login
          </a></li>
          <li><a href="/register/student/">
            Register
          </a></li>
          <li><a href="/lessons/application/">
            Apply For Lessons
          </a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          <i class="fa fa-user"></i> Teachers<span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="/register/teacher/">
            Register
          </a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          <i class="fa fa-sign-in"></i> Management<span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="/management/instrument/new/">
            Add New Instrument
          </a></li>
        </ul>
      </li>
      <li><a href="/">
        Our People
      </a></li>
    </ul>
  </div>
</nav>