 <nav class="navbar navbar-default">
  <div id="firstHeader" class="container-fluid">
    <div class="navbar-header">
      <a href="#">School of Music</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Log-in</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> My.Portal</a></li>
    </ul>
  </div>
  <div id="secondHeader" class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Study
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Student Registration</a></li>
          <li><a href="#">Teacher Registration</a></li>
          <li><a href="#">Apply For Lessons</a></li>
        </ul>
      </li>
      <li><a href="#">Our People</a></li>
    </ul>
  </div>
</nav>
<!--<nav>
  <div class="header">
             
          <div class="container">
                 
              <div class="logo">
                 <h2>SCHOOL OF <br/>MUSIC</h2>
              </div>
                 
              <div class="nav">
                 <ul>
                     <li><a href="#">HOME</a></li>
                     <li><a href="#">STUDY</a></li>
                     <li><a href="#">CONTACTS</a></li>
                     <li><a href="#">MY.PORTAL</a></li>
                 </ul>
                 <form class="search">
                  <input type="text" name="search" placeholder="Search..."  />
                 </form>
              </div>
          </div>
  </div>
  <div class="header2">
      <div class="bar">
          <ul>
              <li><a href="#">HOME</a></li>
              <li><a href="#">ABOUT</a></li>
              <li><a href="#">STUDY</a></li>
              <li><a href="#">OUR PEOPLE</a></li>
              <li><a href="#">CONTACTS</a></li>
          </ul>
      </div>
  </div>
</nav>
-->