 <nav class="navbar navbar-default">
  <div id="firstHeader" class="container-fluid">
    <div class="navbar-header">
      <a href="/">School of Music</a>
    </div>
      <login-app class="nav navbar-nav navbar-right"></login-app>
  </div>
  <div id="secondHeader" class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li><a href="/information/">About</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Study
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/register/student/">Student Registration</a></li>
          <li><a href="/register/teacher/">Teacher Registration</a></li>
          <li><a href="/lessons/application/">Apply For Lessons</a></li>
        </ul>
      </li>
      <li><a href="#">Our People</a></li>
    </ul>
  </div>
</nav>