body {
    width:100%;
    margin: auto;
}

p {
    padding-top: 50px;
}

.header {
    background: #191970;
    width: 100%;
    top:0;
    border-bottom:1px solid #EEE;
    height: 120px;
    position: absolute;
}

.logo {
    border-color: #EEE;
    border-left-style: double;
    margin-top: 20px;
    line-height: 20px;
    float: left;
    font-family: Apple Chancery;
    font-size: 15px;
    color: aliceblue;
    margin-left: 145px;
    padding-left: 5px; 
}

a {
    text-decoration: none;
    color: aliceblue;
}

.nav ul {
    top:0;
    padding-right: 50px;
    margin-top: 5px;
    
}
.nav li {
    font-family: Adobe Gothic Std;
    list-style: none;
    float: left;
    margin-left: 10px;
    font-size: 10px;
    font-weight: bold;
}

.nav {
    float: right;
}

.search input[type=text] {
    float: right;
    margin-top: 30px;
    margin-right: 50px;
    width: 250px;
    height: 20px;
    border-style: #191970;
    font-size: 15px;
    font-family: Avenir;
    background-color: white;
    background-image: url('../images/Search-icon.png');
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: 231px 4px;
}

.background {
    padding-top: 180px;
    font-family: Cambria;
    margin-left: 140px;
    
}

.header2 {
    background: black;
    width: 100%;
    top: 120px;
    border-bottom:1px solid #EEE;
    height: 30px;
    position: absolute;
}

.bar ul {
    float: left;
    padding-left: 80px;
}

.bar li {
    margin-top: -9px;
    font-family: Avenir;
    list-style: none;
    float: left;
    margin-left: 40px;
    font-size: 12px;
}

#box {
    border-width: 0.25em;
    margin-left: 240px;
    margin-right: 400px;
    margin-top: 30px;
    margin-bottom: 50px;
    padding: 1em;
    border-radius: 5px;
    background-color: whitesmoke;
    padding: 20px;
}