<!DOCTYPE html>
<html>
<head>
  <base href="/lessons/application/">
  <% include ../shared/header.ejs %>
  <script>var localPath = '/lessonApplication/';</script>
  <script src="/lessonApplication/lessonApp.service.js"></script>
  <script src="/lessonApplication/applicationForm.component.js"></script>
  <script src="/lessonApplication/lessonApp.component.js"></script>
  <script src="/lessonApplication/lessonApp.routing.js"></script>
  <script src="/lessonApplication/lessonApp.module.js"></script>
  <script src="/lessonApplication/lessonApp.main.js"></script>
</head>
<body>

  <% include ../shared/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <h1>Music School: Student Registration</h1>
    <p>This is where you can register as a Student.</p>
  </div>
</div>
<div class="container">
  <lesson-registration-app></lesson-registration-app>
</div>
</body>
</html>
