<li *ngIf="!loggedIn && !showForm" (click)="ShowForm()"><button><span class="glyphicon glyphicon-log-in"></span> Log-in</button></li>
<form *ngIf="showForm && !loggingIn" (ngSubmit)="Login()" #loginForm="ngForm" method="POST">
	<div>
		<label for="email">Email: </label><input type="text" [(ngModel)]="user.email" id="email" name="email"/>
	</div>
	<div>
		<label for="Password">Password: </label><input type="password" [(ngModel)]="user.password" id="Password" name="Password"/>
	</div>
	<button type="submit"><span class="glyphicon glyphicon-log-in"></span> Log-in</button>
	<p *ngIf="error">Incorrect details</p>
</form>

<div *ngIf="loggingIn">Attempting to Log in</div>

<logged-in-app *ngIf="loggedIn" class="nav navbar-nav navbar-right"></logged-in-app>