<!DOCTYPE html>
<html>
<head>
  <% include ../shared/header.ejs %>
</head>

<body>

  	<% include ../shared/nav.ejs %>

	<div class="mainContainer">
		<div class="mainHeader">
			Welcome
		</div>
		<div class="mainBody">
	  		  <body id="app-layout">
            <div class="container">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <img src="shared/img/info.png" alt="index_pageImage" class="img-thumbnail" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
       
    </body>
		</div>
	</div>
</body>
</html>