<!DOCTYPE html>
<html>
<head>
  <% include ../shared/header.ejs %>
</head>

<body>

  <% include ../shared/nav.ejs %>

<div>
  Welcome to the new website for the School of Music.
</div>


</body>
</html>
