<!DOCTYPE html>
<html>
<head>
  <% include ../shared/header.ejs %>
</head>

<body>

  	<% include ../shared/nav.ejs %>

	<div class="mainContainer">
		<div class="mainHeader">
			Welcome
		</div>
		<div class="mainBody">
	  		Welcome to the new website for the School of Music.
		</div>
	</div>
</body>
</html>