<!DOCTYPE html>
<html>
    <head>
      <% include ../shared/header.ejs %>
      <link rel="stylesheet" type="text/css" href="/contactUsInformation/css/main.css" />
    </head>

    <body>

      	<% include ../shared/nav.ejs %>

        <div class="mainContainer">
            <div class="mainHeader">Contact Us</div>
            <div class="mainBody">
                
            </div>

        </div>
           
    </body>
</html>