<div class="button22 clickable" (click)="GoBack()"><div class="fa fa-arrow-left"></div> Back &nbsp;</div>
<p *ngIf="error" class="cardErrorMessage">{{error}}</p>

<div class="ui cards">
  <div class="card" *ngIf="teacherApplication">
    <div class="content">
      <div class="cardHeader">
          <legend>{{teacherApplication.firstname}} {{teacherApplication.lastname}}</legend>
      </div>
      <div class="meta">
        <!-- <div class="cardLeft">Age:</div> <div class="cardRight">{{teacherApplication.dob}}</div><br> -->
        <div class="cardLeft">Reference Name:</div> <div class="cardRight">{{teacherApplication.reference1name}}</div><br>
        <div class="cardLeft">Reference Number:</div> <div class="cardRight">{{teacherApplication.reference1number}}</div><br>
        <div class="cardLeft">Cover Letter:</div> <div class="cardRight">{{teacherApplication.coverletter}}</div><br>
        <div class="cardLeft">Email:</div> <div class="cardRight">{{teacherApplication.email}}</div><br>
      </div>
    </div>
    <div class="extra content">
      <div class="ui two buttons">
         <button class="button22" (click)="AcceptTeacherApplication(teacherApplication.id)">Approve</button>
         <button class="button21" (click)="RejectTeacherApplication(teacherApplication.id)">Decline</button>
      </div>
    </div>
  </div>
</div>