<p *ngIf="error" class="errorMessage">{{error}}</p>

<div class="ui cards">
  <div class="card" *ngFor="let teacherApplication of teacherApplications">
    <div class="content clickable" (click)="SelectTeacherApplication(teacherApplication.id)">
      <div class="cardHeader">
          <legend>{{teacherApplication.firstname}} {{teacherApplication.lastname}}</legend>
      </div>
      <div class="meta">
        <div class="cardLeft">Age:</div> <div class="cardRight">{{teacherApplication.dob}}</div><br>
        <div class="cardLeft">Languages:</div> <div class="cardRight">{{teacherApplication.languages}}</div><br>
        <div class="cardLeft">Instruments:</div> <div class="cardRight">{{teacherApplication.instruments}}</div>
        <div class="cardLeft">Hours:</div> <div class="cardRight">{{teacherApplication.hours}}</div>
      </div>
    </div>
  </div>
</div>