<!DOCTYPE html>
<html>
    <head>
      <% include ../shared/header.ejs %>
      <link rel="stylesheet" type="text/css" href="/aboutUsInformation/css/main.css" />
    </head>

    <body>

      	<% include ../shared/nav.ejs %>

        <div class="mainContainer">
            <div class="mainHeader">About Us</div>
            <div class="mainBody">

            </div>
        </div>
       
    </body>
</html>