<div *ngIf="FormIsAvailable()">
	<p *ngIf="isValid.errorMessage" class="errorMessage">{{isValid.errorMessage}}</p>
	<form [hidden]="submitted" (ngSubmit)="Register()" #lessonForm="ngForm" method="POST">
		<fieldset id="teacherinfo">
		    <legend><span>Instrument Information</span></legend>
		    <div class="row">
				<div class="col-sm-4">
					<label 	for="instrumentType">Instrument Type: </label>
					<select id="instrumentType" name="instrumentType"
							[(ngModel)]="lesson.instrumentType" #instrumentType="ngModel" 
							(change)="ResetInstrumentType()"
							(blur)="UpdateInstruments()" required>
						<option *ngFor="let instrumentType of instrumentTypeList"
						value="{{instrumentType.id}}" required>{{instrumentType.name}}</option>
					</select>
					<p class="errorMessage" [hidden]="(instrumentType.valid || instrumentType.untouched) && isValid.instrumentType">A Value must be selected.</p>
				</div>
				<div [class.disabled]="lesson.instrumentType==''" class="col-sm-4">
					<label 	for="hireType">BYO or Hire: </label>
					<select id="hireType" name="hireType"
							[(ngModel)]="lesson.hireType" #hireType="ngModel" 
							[disabled]="lesson.instrumentType==''"
							(change)="UpdateInstrumentSelect()"
							required>
						<option value="BYO">Bring your Own</option>
						<option value="Hire">Hire</option>
					</select>
					<p class="errorMessage" [hidden]="(hireType.valid || hireType.untouched) && isValid.hireType">A Value must be selected.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<label 	for="grade">Your Grade: </label>
					<input type="text" id="grade" name="grade"
							[(ngModel)]="lesson.grade" #grade="ngModel" 
							pattern="^[0-7]$" required/>
					<p class="errorMessage" [hidden]="(grade.valid || grade.untouched) && isValid.grade">Please enter your approximate grade.</p>
				</div>
			</div>
		</fieldset>
		<fieldset 
		*ngIf="lesson.hireType=='Hire'"
		[disabled]="instrumentList.length == 0" id="instrumentInfo">
			<legend><span>Instrument to Hire</span></legend>
			<p *ngIf="instrumentList.length == 0" class="errorMessage">All instruments are booked. Please try again later</p>
			<div class="row">
				<table class="col-sm-10" [class.validTable]="instrumentId.valid" [class.invalidTable]="!instrumentId.valid">
					<tr>
						<th>Serial</th>
						<th>Model</th>
						<th>Hire Fee</th>
						<th>Condition</th>
						<th>Notes</th>
					</tr>
					<tr class="tableError" *ngIf="instrumentList.length == 0">
						<td colspan="6">No instruments to display</td>
					</tr>
					<tr *ngFor="let instrument of instrumentList" class="selectableRow" (click)="SelectInstrument(instrument.id)" [class.selectedInstrument]="instrument.id == lesson.instrumentId">
						<td>{{instrument.serial_no}}</td>
						<td>{{instrument.model}}</td>
						<td>${{instrument.hire_fee}}</td>
						<td>{{instrument.condition}}</td>
						<td>{{instrument.inst_notes}}</td>
					</tr>
				</table>
				<input type="hidden" id="instrumentId" name="instrumentId"
				[(ngModel)]="lesson.instrumentId" #instrumentId="ngModel" required value="" pattern="^[0-9]+$"/>
				<p class="col-sm-4 errorMessage" [hidden]="instrumentId.valid  && isValid.instrumentId">Please select an instrument by clicking on a row above.</p>
			</div>
		</fieldset>
		<fieldset id="timeinfo">
			<legend><span>Date and Time</span></legend>
			<div class="row">
				<div class="col-sm-4">
					<label 	for="day">Day: </label>
					<select id="day" name="day"
							[(ngModel)]="lesson.day" #day="ngModel" required>
						<option *ngFor="let day of dayList" value="{{day.short}}" required>{{day.name}}</option>
					</select>
					<p class="errorMessage" [hidden]="(day.valid || day.untouched) && isValid.day">Invalid input. Must be a valid day format.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<label 	for="startTime">Start Time: </label>
					<input 	title="Between 6am and 6pm. To the nearest hour." type="text" id="startTime" name="startTime"
							[(ngModel)]="givenStartTime" #startTime="ngModel" pattern="^([6-9]|1[0-1])(:(00))?am$|(12|[1-6])(:(00))?pm$|^((0[6-9])|(1[0-8])):(00)$" required/>
				</div>
				<div class="col-sm-4">
					<label>Finish Time:</label>
					<p *ngIf="startTime.valid">{{DisplayEndTime()}}</p>
					<p *ngIf="!startTime.valid" class="errorMessage">Start Time invalid</p>
				</div>
			</div>
		</fieldset>
		<div>
			<button [disabled]="!lessonForm.form.valid" type="Submit">Submit</button>
		</div>
	</form>

	<div [hidden]="!submitted">
		<p>Attempting to Book your lesson!</p>
	</div>
</div>
<div *ngIf="!FormIsAvailable()">
	<p>You do not have access to this page.</p>
</div>