/* Registration teacher stylesheet*/

fieldset {
    margin-bottom: 30px;
    font-family: Avenir;
}
fieldset label {
    display: block;
}

input {
    width: 15em;
}

input:focus, textarea:focus {
    background: white;
    resize: none;
}

input:required {
    box-shadow:none;
}

.ng-valid {
    border-left: 3px solid green;
}

.ng-invalid {
    border-left: 3px solid red;
}

textarea {
    width: 400px;
    margin-top: 15px;
    font-family: Avenir;
    font-size: 15px;
}

button {
   
}

button[disabled] {
    opacity: 0.5;
}