<p *ngIf="error" class="errorMessage">{{error}}</p>
<div *ngIf="FormIsAvailable()">
	<li class="ui cards">
		<div class="card">
			<div class="content">
			 <div class="header">
			      <b>Noah Fox</b>
			  </div>
			  <div class="meta">
			    Student ID: S988484
			      <br>
			    Instrument Type: piano
			      <br>
			        start date: 12/10/2016
			      <br>
			        End date: 12/10/2017
			  </div>
			</div>
		</div>

		<div class="card">
			<div class="content">
			  <div class="header">
			      <b>Ethan Bailey</b>
			  </div>
			  <div class="meta">
			    Student ID: S988484
			      <br>
			    Instrument Type: piano
			      <br>
			        start date: 15/10/2016
			      <br>
			        End date: 10/10/2017
			  </div>
			</div>
		</div>

		<div class="card">
			<div class="content">
			  <div class="header">
			      <b>Ava Brown</b>
			  </div>
			  <div class="meta">
			    Student ID: S988484
			      <br>
			    Instrument Type: piano
			      <br>
			        start date: 19/10/2016
			      <br>
			        End date: 17/10/2017
			  </div>
			</div>
		</div>

		<div class="card">
			<div class="content">
			  <div class="header">
			      <b>Isabella Wilson</b>
			  </div>
			  <div class="meta">
			    Student ID: S988484
			      <br>
			    Instrument Type: piano
			      <br>
			        start date: 7/10/2016
			      <br>
			        End date: 3/10/2017
			  </div>
			</div>
		</div>
		<div class="card">
			<div class="content">
			  <div class="header">
			      <b>Jacob Black</b>
			  </div>
			  <div class="meta">
			    Student ID: S988484
			      <br>
			    Instrument Type: piano
			      <br>
			        start date: 16/10/2016
			      <br>
			        End date: 11/10/2017
			  </div>
			</div>
		</div>
	</li>
	<li class="ui cards">
		<div class="card">
			<div class="content">
			 <div class="header">
			      <b>Noah Fox</b>
			  </div>
			  <div class="meta">
			    Student ID: S988484
			      <br>
			    Instrument Type: piano
			      <br>
			        start date: 12/10/2016
			      <br>
			        End date: 12/10/2017
			  </div>
			</div>
		</div>

		<div class="card">
			<div class="content">
			  <div class="header">
			      <b>Ethan Bailey</b>
			  </div>
			  <div class="meta">
			    Student ID: S988484
			      <br>
			    Instrument Type: piano
			      <br>
			        start date: 15/10/2016
			      <br>
			        End date: 10/10/2017
			  </div>
			</div>
		</div>

		<div class="card">
			<div class="content">
			  <div class="header">
			      <b>Ava Brown</b>
			  </div>
			  <div class="meta">
			    Student ID: S988484
			      <br>
			    Instrument Type: piano
			      <br>
			        start date: 19/10/2016
			      <br>
			        End date: 17/10/2017
			  </div>
			</div>
		</div>

		<div class="card">
			<div class="content">
			  <div class="header">
			      <b>Isabella Wilson</b>
			  </div>
			  <div class="meta">
			    Student ID: S988484
			      <br>
			    Instrument Type: piano
			      <br>
			        start date: 7/10/2016
			      <br>
			        End date: 3/10/2017
			  </div>
			</div>
		</div>
		<div class="card">
			<div class="content">
			  <div class="header">
			      <b>Jacob Black</b>
			  </div>
			  <div class="meta">
			    Student ID: S988484
			      <br>
			    Instrument Type: piano
			      <br>
			        start date: 16/10/2016
			      <br>
			        End date: 11/10/2017
			  </div>
			</div>
		</div>
	</li>
</div>