<p *ngIf="error" class="errorMessage">{{error}}</p>
<div *ngIf="FormIsAvailable()">
	<table>
		<thead id="formTable">
			<tr>
				<th></th>
				<th *ngFor="let day of days">{{day}}</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let time of times">
				<td class="main">{{time}}</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td class="last"></td>
			</tr>
		</tbody>
	</table>
</div>